button {
  background-color: var(--my-button-background-color-primary);
}

button:focus {
  outline: var(--my-theme-focus-ring-outline);
  outline-offset: var(--my-theme-focus-ring-outline-offset);
}
